{%extends 'recommendations/base.html'%}

{% load staticfiles %}
{% load crispy_forms_tags %}
        
{% block content %}

	{# code goes here #}

<div class="container ">



    {% if registered %}
        <p>Thank you for registering. </p>
        <p><a href="{%url 'login'%}">Login</a></p>

        {% else %}
        <form class="form-signin" id ="user_form" method="POST" action="#" enctype="multipart/form-data">
             {% csrf_token %}
            <h3>Sign Up Here </h3>
            
            {{user_form|crispy}}   

        <input class="btn btn-primary" type="submit" name="submit" value="Register">
        </form>
    {%endif%}
  </div>

{% endblock %}